<div class ="menu">
  <a href='/home'>HOME</a>
  <a href='/addtrip'>Add A Trip!</a>
  <a href='#'>Chat Room</a>
  <form action="/logout"  method="POST">
  <input type="submit" value="Logout"></input>
  </form>
</div>
