<html>
<head></head>
<body>
<h1>Edit Posts</h1>
{{#posts}}
<li>
<form action="/editpost" method="POST">
<input name="postTitle" value="{{title}}"></input>
<textarea name="postBody">{{body}}</textarea>
<input type="hidden" name="postId" value="{{postid}}" />
<button type="submit">Update</button>
</li>
{{/posts}}
</body>
</html>
