<html>
<head></head>
<body>

{{> menu}}

<h1> Bloggy Bloggerson</h1>
<form action ="/index" method="POST">
<input type="text", name="postTitle" placeholder="title">
<br> 
<textarea type="text", name="postBody" placeholder="Enter Post Contents"></textarea>
<button type="submit">Submit</button>
</form>
</body>
</html>
